.data-detail-label {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}
.data-detail-table {
    margin-bottom: 30px;
}
.data-detail-table a {
    color: cornflowerblue;
    cursor: pointer;
    text-decoration: cornflowerblue 1px;
}
.data-detail-table a:hover {
    color: cadetblue;
}

.data-table a {
    color: cornflowerblue;
    cursor: pointer;
    text-decoration: cornflowerblue 1px;
}
.data-table a:hover {
    color: cadetblue;
}
.data-searchable-form {
    margin-bottom: 10px;
}
.data-page {
    margin-top: 7px;
}
.data-page {
    height: 40px;
}